@use '../custom' as *;
@use '../componets/mixins' as *;
.menu
{
    @include gradiant;

    li{
        padding: 0 0.7rem;
    }
    h3{
        color: white;
    }
    a
    {
        color: $white !important;
        text-transform: capitalize;
        font-weight: 600;
    }
}