
/* Navbar */


.navbar
{
    background-color: var(--primary-color);
    height: 70px;
    color: #fff;
}
.contener
{
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 30px;
}
.navbar .flex
{
    justify-content: space-between;
} 

.navbar ul
{
    display: flex;
}
.navbar a
{
    padding:10px;
    margin: 0 5px;
    color: #fff;
}
.navbar a:hover
{
    border-bottom: 2px solid white;
}

                /* Showcase */

.showcase
{
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}
.showcase h1{
    font-size: 40px;
}
.showcase p
{
    margin: 20px 0;
}

.showcase .grid
{
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}
.card
{
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 10px;
}
.showcase-form
{
    position: relative;
    top:60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control
{
    margin: 30px 0;
}
.showcase-form input[type='text'],
.showcase-form input[type='email']
{
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}
.showcase-form input:focus
{
    outline: none;
}

.btn-outline
{
    background-color: transparent;
    border: 1px solid #fff;
}
.btn:hover
{
    transform: scale(.98);

}
.showcase::before,
.showcase::after
{
    content: '';
    position: absolute;
    height: 100px;
    background: #fff;
    bottom: -70px;
    right: 0;
    left: 0;
    transform: skewY(-3deg);

}

                        /* stats */

.stats
{
    padding-top: 100px;
}
.grid-3
{
    grid-template-columns: repeat(3, 1fr);
}
.text-center
{
    text-align: center;
}
.stats-heading
{
    max-width: 500px;
    margin: auto;
}
.stats .grid h3
{
    font-size: 35px;
}
.stats .grid p
{
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
}

/* CLI */

.cli .grid
{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.cli .grid > *:first-child
{
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}
.cli h3
{
    font-size: 1rem;
}

/* Cloud */

.cloud .grid
{
    grid-template-columns: 4fr 3fr;
}
.languages .card
{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}
.languages .flex
{
    flex-wrap: wrap;
}
.languages .card h4
{
    font-size: 20px;
    margin-bottom: 10px;
}
.languages .card:hover
{
    transform: translateY(-10px);
}
.languages img
{
    height: 100px;
    width: 100px;
}
 /* features */

.features-head img{
    width: 200px;
    justify-self: flex-end;
}
.features-sub-head img
{
    width: 300px;
    justify-self: flex-end;
}
{
.features-head h1
{
    font-size: 40px;
}


/* footer */
.footer .social a
{
    margin: 0 10px;
}

/* Tablets and under */

@media(max-width: 768px)
{
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase
    {
        height: auto;
    }
    .showcase-text
    {
        text-align: center;
        margin-top: 40px;
    }
    .showcase-form
    {
        justify-self: center;
    }
    .cli .grid > *:first-child
{
    grid-column: 1;
    grid-row: 1;
}












}
/* mobile */
@media(max-width: 500px)
{
    .navbar {
        height: 110px;
    }
    .navbar .flex
    {
        flex-direction: column;
    }
    .navbar ul
    {
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }


}