.contener
{
   
}
.flex-box-1
{
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content:space-around;
}
.result
{
    border: 1px solid black;
    padding: 15px 50px;
    border-radius: 3px;
}
